<form id="new" action="/login" method="post">
	<%= @message %><br />
	<input type="password" name="one" /><br />
	<input type="password" name="two" /><br />
	<input type="submit" value="Go" />
</form>	
